#particles-js {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}

html,
body {
    margin: 0%;
    left: 0%;
    z-index: 1;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}


/* NAV  */

* {
    margin-top: 0%;
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: 'DM Mono', monospace;
    letter-spacing: 1px;
    font-weight: 300;
}

nav {
    height: 6rem;
    width: 100vw;
    background-color: transparent;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}


/*Styling logo*/

.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
}


/*Styling Links*/

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Styling Buttons*/


/* .login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
} */

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Animating Hamburger Icon on Click*/

.toggle .line1n {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2n {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3n {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* 
Terminal */

.fakeScreen {
    background-color: transparent;
    width: 350px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: 20em;
}

p {
    position: relative;
    left: 0%;
    margin-left: 25.5em;
    text-align: left;
    font-size: 1.75em;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

span {
    color: #fff;
    font-weight: bold;
}

.line1 {
    color: #7ffd7f;
    -webkit-animation: type .5s 1s steps(10, end) forwards;
    -moz-animation: type .5s 1s steps(10, end) forwards;
    -o-animation: type .5s 1s steps(10, end) forwards;
    animation: type .5s 1s steps(10, end) forwards;
}

.cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
}

.line2 {
    color: #CDEE69;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
    -webkit-animation: blink 1s 5.25s 2 forwards;
    -moz-animation: blink 1s 5.25s 2 forwards;
    -o-animation: blink 1s 5.25s 2 forwards;
    animation: blink 1s 5.25s 2 forwards;
}

.line3 {
    color: #E09690;
    -webkit-animation: type .5s 6.5s steps(20, end) forwards;
    -moz-animation: type .5s 6.5s steps(20, end) forwards;
    -o-animation: type .5s 6.5s steps(20, end) forwards;
    animation: type .5s 6.5s steps(20, end) forwards;
}

.cursor3 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
}

.line5 {
    color: #CDEE69;
    -webkit-animation: type .5s 8.5s steps(20, end) forwards;
    -moz-animation: type .5s 8.5s steps(20, end) forwards;
    -o-animation: type .5s 8.5s steps(20, end) forwards;
    animation: type .5s 8.5s steps(20, end) forwards;
}

.cursor5 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
}

.line4 {
    color: #7ffd7f;
    -webkit-animation: type .5s 10.75s steps(20, end) forwards;
    -moz-animation: type .5s 10.75s steps(20, end) forwards;
    -o-animation: type .5s 10.75s steps(20, end) forwards;
    animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
    -webkit-animation: blink 1s 11.5s infinite;
    -moz-animation: blink 1s 8.5s infinite;
    -o-animation: blink 1s 8.5s infinite;
    animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes type {
    to {
        width: 17em;
    }
}

@-moz-keyframes type {
    to {
        width: 17em;
    }
}

@-o-keyframes type {
    to {
        width: 17em;
    }
}

@keyframes type {
    to {
        width: 17em;
    }
}

.join-buttons {
    color: #f3f3f3;
    left: 45rem;
    top: 19rem;
    position: absolute;
    background-color: transparent;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.join-buttons:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


/*Stying for small screens*/

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1;
    }
    p {
        position: relative;
        left: 50%;
        margin-left: -8.5em;
        text-align: left;
        font-size: 1.25em;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }
    .join-buttons {
        top: 14rem;
        left: 37%;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}